


.div div{
  padding: 2.5em 2em;
}

.div p:first-child {
  font-size: clamp(18px, 3vw, 25px);
  letter-spacing: 0.32px;
  padding-bottom: 13px;
  color: #636161;
  line-height: 23px;
  font-weight: 600;
}

.div p:last-child {
  color: #696767;
  font-weight: 400;
  font-size: clamp(10.5px, 3vw, 20px);
}

@media (min-width: 768px) {
  .div {
    display: flex;
    padding-bottom: 45px;
    width: 90%;
    margin: 0 auto;
    /* place-self: center; */
  }

  .div article{
    width: 90%;
  }

  .div img {
    max-width: 550px;
  }

  .text-r{
    flex-direction: row-reverse;
  }

  .div:not(.text-r) article{
    /* border: 2px solid brown; */
    padding-right: 23px;
  }

  .div:last-of-type article{
    width: fit-content;
    height: fit-content;
  }

  .div p:first-child {
    line-height: 35px;
    padding-top: 1.6em;
  }

  .div:first-of-type {
    margin-top: 13rem;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .div div p:first-child {
    font-size: 13px;
    font-size: clamp(15px, 1vw, 20px);
  }

  .div div p:last-child {
    font-size: 13px;
    font-size: clamp(12px, 1vw, 16px);
  }

  .div img{
    max-width: 360px;
  }
}