.faqs {
  width: 90%;
  margin: -45px auto 0 auto;
}

.faqs a {
  text-decoration: underline;
  color: blue;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs h2 {
  font-size: clamp(18px, 3vw, 36px);
  padding-bottom: 0.5em;
  margin: 35px 0 20px 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs details {
  margin-bottom: 5px;
}

.faqs details summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faqs details summary::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

.faqs details[open] summary::before {
  transform: rotate(-135deg);
}

.faqs details:last-of-type {
  margin-bottom: 0px;
}

.faqs details summary {
  font-size: clamp(11px, 3vw, 16px);
  font-weight: 600;
  background-color: #343232;
  padding: 1em 1em;
  color: whitesmoke;
  border-radius: 0.4rem;
  margin-bottom: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs details[open] summary {
  font-size: clamp(11px, 3vw, 16px);
  background-color: #3d3b3b;
  color: rgba(245, 245, 245, 0.941);
  border-radius: 0.4rem;
  margin-bottom: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs details p,
.faqs details li {
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  border-radius: 5px;
  font-size: clamp(10.5px, 3vw, 17px);
  margin: 0 0 12px 12px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs details li {
  list-style: decimal;
  padding-left: 0.5em;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.faqs details li:last-child,
.faqs details p:last-child {
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .faqs {
    margin-top: -45px;
  }
}