
.ref-p {
  width: 87%;
  margin: 0 auto;
}

.ref-p h1 {
  margin-top: -25px;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: clamp(20px, 3vw, 26px);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.ref-p article {
  padding-top: 1.5em;
}

.ref-p article p {
  padding-bottom: 0.5em;
}
.ref-p h3 {
  font-size: clamp(19px, 3vw, 24px);
  padding: 0.3em 0;
  font-weight: 500;
}

.ref-p p,
.ref-p li {
  font-size: clamp(14px, 3vw, 16.5px);
}

.ref-p span {
  text-decoration: underline;
  display: inline-block;
  padding-bottom: 0.3em;
  padding-right: 4px;
}

.ref-p a {
  text-decoration: underline;
  color: rgb(55, 55, 179);
  display: inline;
  word-wrap: break-word;
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (min-width: 768px) {
  .ref-p h1 {
    margin-top: 0px;
  }
}
